@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles started */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.btn {
    padding: 1.25rem 2.5rem;
    gap: 10px;
    color: white;
    border-radius: 3rem;
    border: none;
    margin: 1.5rem 0.6rem 0 0;
}

.gradient-text {
    color: transparent;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
}

/* shared styles ended */
/* nav styles started */
nav {
    height: auto;
    margin: 0 auto;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.site-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.site-logo h1 {
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 700;
    padding: 1.5rem 0;
}

.logo-span {
    color: tomato;
}

.nav-links ul {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
    color: #3C354F;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 500;
}

.nav-link-span {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* nav styles ended */
/* goat section style */
.goat-container {
    display: flex;
    gap: 4rem;
}

.goat-content,
.goat-img {
    width: calc(50% - 2rem);
    padding-right: 10%;
}

.goat-content {
    /* margin-top: 9rem; */
    padding: 9rem 10%;
    text-align: left;
    background-image: url('../images/Group 14.png');
    background-size: contain;
}

.goat-content h2 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.goat-content h1 {
    font-size: 6rem;
    font-weight: 800;
}

.goat-description {
    color: #534C64;
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 1rem;
}

.tomato-btn {
    background-color: #FF42A5;
}

.blue-btn {
    background-color: #4EC5F7;
}

.goat-img img {
    width: 100%;
}

/* games styles */

.games-container {
    padding: 3.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 0 10%;
}

.games-img {
    width: 65vw
}

.games-img img {
    width: 100%;
}

.games-content {
    width: 45vw;
}

.games-content h2 {
    font-size: 4rem;
    font-weight: 700;
}

.games-content p {
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 30px;
}

.gamer-btn {
    margin: 1.5rem 0;
}

.games-content h3 {
    color: #534C64;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.8rem;
}

/* video styles */

.video-container {
    margin: 7.5rem 0;
    padding: 3.5rem 0;
    text-align: center;
}

.video-container h2 {
    color: #0B0223;
    font-size: 3rem;
    font-weight: 700;
}

.video-content-subtile {
    color: #534C64;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.74rem;
    padding: 1rem 0 2rem 0;
}

.video-card-container {
    margin: 0 10%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.video-card {
    text-align: left;
    width: calc(100% - 10px);
}

.video-card img {
    width: 100%;
}

/* .video-card:hover {
    border-radius: 16px;
    height: 400px;
    width: 342px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), url(<path-to-image>), lightgray 50% / cover no-repeat;
    background-blend-mode: overlay;
} */

/* play styles */

.play-container {
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12.5rem;
}

.play-content {
    text-align: right;
}

.play-content h2 {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 60px;
}

.play-img {
    position: relative;
}

.play-img .relative-img {
    position: absolute;
    top: 23rem;
    left: -10rem;
}

/* career styles */
.career-container {
    margin: 10rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10% 7%;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    color: white;
}

.career-img {
    background-image: url('../images/Group 14.png');
    background-size: contain;
}

.career-content h2 {
    margin: 1rem 0;
    font-size: 3rem;
    font-weight: 700;
    line-height: 60px;
}

.career-list {
    display: flex;
    justify-content: space-between;
}

.career-list ul {
    list-style: none;
    margin-top: 2rem;
}

.career-list .right-list {
    margin-right: 1rem;
    text-align: right;
}

.career-content,
.career-img {
    width: 50%;
}

.career-img img {
    width: 100%;
}

.career-btn {
    color: #FF42A5;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

/* game list styles */

.game-list-container {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 0 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.game-list-card {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 2.75rem;
    border-radius: 3rem;
    background-color: white;

}

.game-list-card:hover {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    border: 2px solid #FF42A5;
    padding: 0.4rem;
}

/* footer styles */

.footer-container {
    padding: 10%;
    background-color: #0B0223;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.footer-container h1 {
    color: white;
}

.footer-nav ul,
.footer-links ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.footer-icons {
    margin: 1.5rem 0;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.footer-links ul{
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
    gap: 2rem;
}

.copyright{
    margin: 2.5rem;
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;

}